@import '../../styles/theme';

.detailContainer {
  display: flex;
  flex-direction: column;
  .imageInfo {
    display: flex;
    flex-direction: row;
    .imageContainer {
      width: $image-description-size;
      height: $image-description-size;
      .image {
        height: 100%;
      }
    }
    .info {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      .stateQty {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: $fnt-sm;
        margin-top: $spc-md;
        .stateProduct {
          margin-right: $spc-sm;
        }
        .hyphen {
          margin-right: $spc-sm;
        }
      }
      .title {
        width: 250px;
        font-size: $fnt-xl;
        margin-top: $spc-sm;
        margin-bottom: $spc-md;
        font-weight: bold;
      }
      .price {
        font-size: $fnt-xxxl;
        font-weight: bold;
        margin-bottom: $spc-md;
      }
      .button {
        width: 300px;
        font-size: $fnt-lg;
        margin-right: $spc-md;
        background-color: $secondary;
        color:$backgroud-color-secondary ;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-left: $spc-md;
    .titleDescription {
      font-size: $fnt-xxl;
      margin-bottom: $spc-md;
    }
    .description {
      font-size: $fnt-md;
      margin-bottom: $spc-md;
    }
  }
}