// colors
$primary: #FFE600;
$secondary: #3483FA;
$backgroud-color: #EEEEEE;
$backgroud-color-secondary: #FFFFFF;
$text-primary: #333333;
$text-secondary: #666666;
$text-terciary: #999999;

// font-size
$fnt-xs: 12px;
$fnt-sm: 14px;
$fnt-md: 16px;
$fnt-lg: 18px;
$fnt-xl: 24px;
$fnt-xxl: 28px;
$fnt-xxxl: 46px;

// spacing
$spc-sm: 16px;
$spc-md: 32px;
